In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
orders = pd.read_csv('instacart_orders.csv', sep=';')
orders.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478967 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                478967 non-null  int64
 1   user_id                 478967 non-null  int64
 2   order_number            478967 non-null  int64
 3   order_dow               478967 non-null  int64
 4   order_hour_of_day       478967 non-null  int64
 5   days_since_prior_order  450148 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 21.9 MB

In [5]:
products = pd.read_csv('products.csv', sep=';')
products.info

<bound method DataFrame.info of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49689       49690                      HIGH PERFORMANCE ENERGY DRINK
49690       49691                      ORIGINAL PANCAKE & WAFFLE MIX
49691       49692    ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
49692       49693                             SPRING WATER BODY WASH
49693       49694                            BURRITO- STEAK & CHEESE

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
...         ...            ...
49689        64              7
49690       130             14
49691       130             14
49692       127             11
49693        38              1

[49694 rows x 4 columns]>

In [6]:
aisles = pd.read_csv('aisles.csv', sep=';')
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [7]:
departments = pd.read_csv('departments.csv', sep=';')
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

In [8]:
order_products = pd.read_csv('order_products.csv', sep=';')
order_products.info(show_counts=True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           4545007 non-null  int64
 1   product_id         4545007 non-null  int64
 2   add_to_cart_order  4544171 non-null  float64
 3   reordered          4545007 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB

Se realizó la separaciónde cada uno de los archivos y se les realizo una solicitud para conocer la información que contiene cada uno

Se trabajará con cada archivo, se les realizará diversos analisis para tener una información más precisa de cada uno

Se Iniicará el trabajo con el Archivo "orders"

In [9]:
orders.duplicated().sum()

np.int64(15)

# Verifica todos los pedidos que se hicieron el miércoles a las 2:00 a.m.

In [3]:
print(orders.query("order_dow == 3 & order_hour_of_day == 2"))

NameError: name 'orders' is not defined

In [1]:
# Elimina los pedidos duplicados
orders = orders.drop_duplicates()
print(orders.duplicated().sum())

NameError: name 'orders' is not defined