In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
orders = pd.read_csv('instacart_orders.csv', sep=';')
orders.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478967 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                478967 non-null  int64
 1   user_id                 478967 non-null  int64
 2   order_number            478967 non-null  int64
 3   order_dow               478967 non-null  int64
 4   order_hour_of_day       478967 non-null  int64
 5   days_since_prior_order  450148 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 21.9 MB

In [3]:
products = pd.read_csv('products.csv', sep=';')
products.info

<bound method DataFrame.info of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49689       49690                      HIGH PERFORMANCE ENERGY DRINK
49690       49691                      ORIGINAL PANCAKE & WAFFLE MIX
49691       49692    ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
49692       49693                             SPRING WATER BODY WASH
49693       49694                            BURRITO- STEAK & CHEESE

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
...         ...            ...
49689        64              7
49690       130             14
49691       130             14
49692       127             11
49693        38              1

[49694 rows x 4 columns]>

In [6]:
aisles = pd.read_csv('aisles.csv', sep=';')
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [12]:
departments = pd.read_csv('departments.csv', sep=';')
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes

In [8]:
order_products = pd.read_csv('order_products.csv', sep=';')
order_products.info(show_counts=True )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           4545007 non-null  int64
 1   product_id         4545007 non-null  int64
 2   add_to_cart_order  4544171 non-null  float64
 3   reordered          4545007 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB

Se realizó la separaciónde cada uno de los archivos y se les realizo una solicitud para conocer la información que contiene cada uno

Se trabajará con cada archivo, se les realizará diversos analisis para tener una información más precisa de cada uno

Se Iniicará el trabajo con el Archivo "orders"

In [4]:
orders.duplicated().sum()

np.int64(15)

# Verifica todos los pedidos que se hicieron el miércoles a las 2:00 a.m.

In [5]:
print(orders.query("order_dow == 3 & order_hour_of_day == 2"))

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
4838     2766110   162084            41          3                  2
5156     2190225   138285            18          3                  2
15506     553049    58599            13          3                  2
18420     382357   120200            19          3                  2
24691     690242    77357             2          3                  2
...          ...      ...           ...        ...                ...
457013   3384021    14881             6          3                  2
458816    910166   164782            18          3                  2
459635   1680532   106435             6          3                  2
468324    222962    54979            59          3                  2
477526   2592344    46860            38          3                  2

        days_since_prior_order
4838                      16.0
5156                      11.0
15506                      7.0
18420                     11.0
24691                      9.0
...                        ...
457013                    30.0
458816                     4.0
459635                    21.0
468324                     3.0
477526                     3.0

[121 rows x 6 columns]

In [6]:
# Elimina los pedidos duplicados
orders = orders.drop_duplicates()
print(orders.duplicated().sum())

0

In [7]:
# Elimina los pedidos duplicados
orders = orders.drop_duplicates()
print(orders.duplicated().sum())

0

In [8]:
# Vuelve a verificar si hay filas duplicadas
orders.drop_duplicates(inplace=True)

print(orders.duplicated().sum())

0

In [ ]:
# Vuelve a verificar únicamente si hay IDs duplicados de pedidos
print(orders['order_id'].duplicated().sum())
orders.reset_index(drop=True)

products data frame

In [9]:
# Verifica si hay filas totalmente duplicadas

print(products.duplicated().sum())

0

In [10]:
# Revisa únicamente si hay ID de departamentos duplicados
print(products['department_id'].duplicated().sum())

49673

In [ ]:
# Revisa únicamente si hay nombres duplicados de productos (convierte los nombres a letras mayúsculas para compararlos mejor)
print(products['product_name'].str.upper().duplicated().sum())

In [ ]:
# Revisa si hay nombres duplicados de productos no faltantes

duplicates = products[products['product_name'].duplicated(keep=False)]
print(duplicates)

departments data frame

In [13]:
# Revisa si hay filas totalmente duplicadas
print(departments.duplicated().sum())

0

aisles data frame

In [ ]:
# Revisa si hay filas totalmente duplicadas
print(aisles.duplicated().sum())

In [14]:
# Revisa únicamente si hay IDs duplicadas de pasillos
print(aisles['aisle_id'].duplicated().sum())

NameError: name 'aisles' is not defined

order_products data frame